<hr class="double" />
<h1>
  <a href="/tweet/<%= @tweet.tweet_id%>">
    #STARDEVELOPER
  </a>
</h1>
<hr class="thick"/>
<div id="themessage">
  <p>
    <a href="<%=@tweet.link %>">
      <%=@tweet.text%>
    </a>
  </p>
</div>
<hr class="dixit">
<div id="themessager" style=""><span class="left">☆</span><a href="/developer/<%= @tweet.name %>"><%= @tweet.name %></a><span class="right">☆</span></div>
<hr class="thick"/>
