<h1>
  <!-- <a href="/tweet/<%= @tweet.tweet_id%>">
       #STARDEVELOPER
       </a> -->
</h1>

<% def width(s, size = 16)
  s.downcase.chars.inject(0) do |r, c|
    size_class = {
      "#" => 12,
      "@" => 13,
      ":" => 6,
      ";" => 6,
      "," => 6,
      "'" => 6,
      '"' => 8,
      "." => 6,
      "‘" => 6,
      "’" => 6,
      "a" => 13,
      "b" => 11,
      "c" => 11,
      "d" => 12,
      "g" => 12,
      "h" => 12,
      "i" => 6,
      "j" => 7,
      "k" => 13,
      "m" => 16,
      "n" => 13,
      "o" => 12,
      "q" => 12,
      "r" => 12,
      "s" => 11,
      "t" => 11,
      "u" => 12,
      "v" => 13,
      "w" => 17,
      "x" => 12,
      "y" => 11,
      "z" => 11,
    }.fetch(c, 10)
    r += (size_class / 16.0) * size.to_f
    r
  end
end
%>
<div id="themessage">
  <%
  text = <<-TEXT
  123456789012345 6
  123456789012345 6
  123456789012345 6
  TEXT
  %>
  <%
  text = @tweet.text.concat(" ")
  # text = "Ik kan alles #stardeveloper "
  lines = text.scan(/.{1,16}[ ,;:]/).map(&:strip)
  %>
  <% line_height = 16 %>
  <% padding_y = 2 %>
  <% x_width = lines.map { |l| width(l) }.max %>
  <% y_height = (lines.length + 2) * line_height %>
  <% other_x_width = (lines.length + 1) * line_height * 2.5 %>

  <svg width="100%" viewBox="0 0  <%= [x_width, y_height + 100].max %> <%= (lines.length + 2) * line_height %>">
    <defs>
      <linearGradient id="fire"
                      x1="0" x2="50%" x3="100%
                      y1="0" y2="100%" >
        <stop stop-color="rgba(255,255,255,1)" offset="0%"/>
        <stop stop-color="rgba(220,220,220,0.9)" offset="50%"/>
        <stop stop-color="rgba(255,255,255,1)" offset="100%"/>
      </linearGradient>

      <pattern id="space" patternUnits="userSpaceOnUse" width="200" height="90">
        <image xlink:href="http://bren.zone/i/space.gif" width="200" height="90" preserveAspectRatio="xMidYMid slice"/>
      </pattern>

      <!-- Let's define the pattern -->
      <!-- The width and height should be double the circle radius we plan to use -->
      <pattern id="pattern-circles" x="0" y="0" width="40" height="40" patternUnits="userSpaceOnUse">
        <!-- Now let's draw the circle -->
        <!-- We're going to define the `fill` in the CSS for flexible use -->
        <circle mask="url(#fade)" cx="20" cy="20" r="20" />
      </pattern>
    </defs>

    <!-- <%= lines.max_by(&:length).length %> <%= lines.length %> -->
    <% lines.each.with_index do |t, index| %>
      <g transform="translate(<%= Random.rand(20) %>,1) rotate(<%= (Random.rand(60) - 30)/10.0 %>)">
        <% if params[:debug] %>
          <rect x="0" y="<%=2+ (index * (line_height + padding_y)) %>" height="16" fill="url(#fire)" width="<%= width(t) %>" />
        <% end %>
        <text font-size="16" fill="#680c0c" x="0" y="<%= line_height + (index * (line_height + padding_y)) %>"><%= t %></text>
      </g>
    <% end %>
    <g>
      <% a_x = width(@tweet.name, 12) %>
      <% a_y =  lines.length  * (line_height + padding_y)%>
      <rect x="<%= x_width - a_x - 8 %>" y="<%= line_height/4 + a_y %>" width="<%= a_x + 12 %>" height="16" fill="red"></rect>
      <text text-anchor="start" font-size="12" fill="white" x="<%= x_width - a_x - 18 %>" y="<%= line_height + a_y %>">
        <tspan>&ndash;</tspan>
        <tspan class="anonymous" dx="6"><%= @tweet.name %></tspan>
      </text>
    </g>

  </svg>

  <!-- <p>
       <a href="<%=@tweet.link %>">
       <%=@tweet.text%>
       </a>
       </p> -->
</div>

<script type="text/comment">
 22 karakters is volledig ding
 Tweet is maximum 280

 Dus splitten in regles van 22, 280/22 = 12 regels

 text = "OH 'Ik vind het wel tof om ook een beetje een gek lief te hebben' #stardeveloper"
 text.scan(/.{1,25}\W/).map(&:strip)

 words = text.split(" ")
</script>
