<div class="container">
  <div id="themessage">
    <% line_height = 16 %>
    <% padding_y = 5 %>
    <% x_width = @tweet.lines.map { |l| width(l) }.max %>
    <% y_height = (@tweet.lines.length + 2) * line_height %>

    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="95%" viewBox="0 0  <%= [x_width + 20, y_height + 100].min %> <%= (@tweet.lines.length + 2) * (line_height + padding_y) %>">
      <defs>
        <linearGradient id="fire"
                        x1="0" x2="50%" x3="100%
                            y1="0" y2="100%" >
          <stop stop-color="rgba(255,255,255,1)" offset="0%"/>
          <stop stop-color="rgba(220,220,220,0.9)" offset="50%"/>
          <stop stop-color="rgba(255,255,255,1)" offset="100%"/>
        </linearGradient>

        <filter id="shadow">
          <feDropShadow dx="1" dy="1" stdDeviation="6"/>
        </filter>

        <filter id="Bevel" filterUnits="objectBoundingBox" x="-10%" y="-10%" width="150%" height="150%">
          <feGaussianBlur in="SourceAlpha" stdDeviation="3" result="blur"/>
          <feSpecularLighting in="blur" surfaceScale="5" specularConstant="0.5" specularExponent="10" result="specOut" lighting-color="white">
            <fePointLight x="0" y="0" z="20000"/>
          </feSpecularLighting>
          <feComposite in="specOut" in2="SourceAlpha" operator="in" result="specOut2"/>
          <feComposite in="SourceGraphic" in2="specOut2" operator="arithmetic" k1="0" k2="1" k3="1" k4="0" result="litPaint" />
        </filter>
        <filter id="Bevel2" filterUnits="objectBoundingBox" x="-10%" y="-10%" width="150%" height="150%">
          <feGaussianBlur in="SourceAlpha" stdDeviation="0.5" result="blur"/>
          <feSpecularLighting in="blur" surfaceScale="30" specularConstant="0.5" specularExponent="10" result="specOut" lighting-color="white">
            <fePointLight x="0" y="0" z="40"/>
          </feSpecularLighting>
          <feComposite in="specOut" in2="SourceAlpha" operator="in" result="specOut2"/>
          <feComposite in="SourceGraphic" in2="specOut2" operator="arithmetic" k1="0" k2="1" k3="100" k4="0" result="litPaint" />
        </filter>

        <filter id="dropshadow" widht="130%" height="130%">
          <feGaussianBlur in="SourceAlpha" stdDeviation="2"/> <!-- stdDeviation is how much to blur -->
          <feOffset dx="1" dy="3" result="offsetblur"/> <!-- how much to offset -->
          <feComponentTransfer>
            <feFuncA type="linear" slope="0.3"/> <!-- slope is the opacity of the shadow -->
          </feComponentTransfer>
          <feMerge>
            <feMergeNode/> <!-- this contains the offset blurred image -->
            <feMergeNode in="SourceGraphic"/> <!-- this contains the element that the filter is applied to -->
          </feMerge>
        </filter>
      </defs>

      <g>
        <% a_x = width(@tweet.name, 12) %>
        <% a_y =  @tweet.lines.length  * (line_height + padding_y)%>
        <rect x="<%= x_width - a_x - 8 %>" y="<%= 10+line_height/4 + a_y %>" width="<%= a_x + 12 %>" height="16" fill="red"></rect>
        <text text-anchor="start" font-size="12" fill="white" x="<%= x_width - a_x - 18 %>" y="<%= 10+line_height + a_y %>">
          <tspan>&ndash;</tspan>
          <tspan class="anonymous" dx="6">&nbsp;<%= @tweet.name %></tspan>
        </text>
      </g>

      <% @tweet.lines.each.with_index do |t, index| %>
        <g transform="translate(<%= Random.rand(20) + 2 %>,1) rotate(<%= (Random.rand(60) - 30)/10.0 %>)">
          <rect filter="url(#dropshadow)" x="-2" y="<%=10+1+ (index * (line_height + padding_y)) %>" height="<%= line_height + 3%>" stroke-width="3" stroke="rgba(65,65,65,0.05)" fill="white" width="<%= width(t) + 4 %>" />
          <text class="line" font-size="16" fill="white" x="0" y="<%= 10+line_height + (index * (line_height + padding_y)) %>"><%= t %></text>
        </g>
      <% end %>
    </svg>

    <ul class="references"">
      <% unless @is_permalink %>
        <li>
          <a href="<%=@tweet.permalink %>">
            Permalink
          </a>
        </li>
      <% end %>
      <li>
        <a href="<%=@tweet.link %>">
          Original
        </a>
      </li>
    </ul>
  </div>
</div>
