<html>
  <head>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/style.css">
    <% if @tweet %>
      <title>#stardeveloper - <%= @tweet.name %> - <%= @tweet.text %></title>
      <meta property="og:type" content="website">
      <meta property="og:url" content="<%= request.base_url %>">
      <meta property="og:title" content="#stardeveloper">
      <meta property="og:description" content="<%= @tweet.text %>">
      <meta property="og:image" content="<%= request.base_url %>/images/star_og_image.png">

      <meta name="twitter:card" content="summary" />
      <meta name="twitter:site" content="#stardeveloper">
      <meta name="twitter:creator" content="@pjaspers" />
    <% else %>
      <title>#stardeveloper</title>
    <% end %>
  </head>
  <body>

    <%= yield %>

    <script type="text/test">
     #didyourender
    </script>
  </body>
</html>
