
<ul class="blocks">
  <% @updates.order(:posted_at).each_with_index do |update, index| %>
    <li class="<%= (index % 2 == 0) ? "even": "less-even" %> blocks__tweet">
      <p>
        <a href="/update/<%=update.update_id %>">
          <%= update.text %>
        </a>
      </p>
      <a class="blocks__author" href="/stars/<%= update.name %>">
        <%= update.name %>
      </a>
    </li>
  <% end %>
</ul>
